#root {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  background: none;
}

.card {
  padding: 2em;
  border-radius: var(--radius);
  background: var(--color-surface-light);
  box-shadow: var(--shadow);
  margin: 2rem auto;
  max-width: 600px;
}

.read-the-docs {
  color: #888;
}

:root[data-theme='dark'] .card {
  background: var(--color-surface-dark);
  color: var(--color-text-dark);
}